
@font-face {
    font-family: 'DamaskDings';
    src: url('fonts/DamaskDings1.ttf') format('truetype');
}

h1, h2 {
    /*margin-top: -20px;
    */text-align: center;
    font-weight: 500;
    color: #2b2b2b;
}

h4 {
    margin-bottom: -0.5%;
}

.damask-heading {
    margin-top: -10px;
    font-family: 'DamaskDings';
    font-weight: 600;
    font-size: 3em;
}

body {
    font-family: "Segoe UI", "Meiryo UI", sans-serif;   
    margin: 2%;
    padding: 0px;
    background-color: #e6f2e6;
    color: #333;
    line-height: 1.6;
}

select, button {
    
    padding: 8px;
    font-size: 12px; /*14px*/
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    width: auto;
}

.mainContainer, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 3% auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;    
}
@media (max-width: 600px) {
    .mainContainer {
        margin: 1%;
    }
}

/*------- Select Club --------------------------------------------------------------------*/
.clubSelectContainer {
    display: flex;
    width: 30%;
    min-width: 250px;
    flex-direction: column; 
    align-items: center;
}
.codeInput {
    width: 100%;
    border-radius: 8px;
    padding-left: 10px;
}
.codeRow {
    display: flex;
    flex-direction: row;
    width: 100%; 
    justify-content: center; 
    margin-top: 5%;
}
.clubSelect {
    min-width: 80px;
    width: 100%;
}
.submitButton {
    min-width: 80px;
    width: 50%;
    padding: 7px;
}
.selectClubExplanation {
    margin-top: 2%;
    margin-bottom: -3%;
}

/*------- Select Club --------------------------------------------------------------------*/
p {
    font-size: 0.8em;
}
.clubInfoTableText {
    font-size: 0.8em;
    max-width: 1000px;
}

table {
    min-width: 1000px; 
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    font-size: 0.8em;
    background-color: #f4f4f4;
    color: #333;
}
td {
    font-size: 0.7em;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.addRowButton {
    margin-top: 1%;
}


.clubInfoContainer, .entriesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
@media (max-width: 1100px) {
    .clubInfoContainer, .entriesContainer {
        width: 100%;
        overflow-x: auto;
    }
}

.clubTableContainer, .teamsTableContainer, .horsesTableContainer, .ridersTableContainer, .entriesTableContainer {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
/*///////////////////////////////////////////////////////////////////////////////////////////*/

.entriesTableContainer > table {
    min-width: 1400px; 
}

.entryNumber {
    font-size: 1.1em;
    margin-right: 20px;
}

.entryNumberLine {
    margin-bottom: 10px;
}

label {
    display: block;
    font-size: 0.8em;
    color: #444;
}

.entry .entryNumberLine, .entry .entry-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.entry-fields > div > select {
    display: block;
    width: 100%; 
}

.scheduleNumber {
    font-size: 0.9em;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    width: auto; 
}

.eventInfoDisplay {
    flex: 1;
    position: relative;
    top: 0px; 
    font-size: 0.9em;
    margin-left: 10px;
}

.entryComment {
    font-size: 0.9em;
    max-width: 100%;
    height: fit-content;
    padding: 5px;
    box-sizing: border-box;
    resize: none;
}

.updateButton, .addEntryRowButton {
    display: flex;
    margin: 10px auto; 
    width: auto;
}

/*.entry {
    margin-bottom: 10px;
    padding: 10px;
    padding-right: 25px;
    /*background-color: #f9f9f9;
    
    background-color: rgb(251, 234, 237);
    border: 1px solid #e1e1e1;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.entry-fields > div {
    flex: 1 1 calc(20% - 15px);
}

@media (max-width: 1200px) {
    .entry-fields > div {
        flex: 1 1 calc(20% - 15px);
    }
}
@media (max-width: 900px) {
    .entry-fields > div {
        flex: 1 1 calc(25% - 15px);
    }
}
@media (max-width: 700px) {
    .entry-fields > div {
        flex: 1 1 calc(33.333% - 15px);
    }
}
@media (max-width: 500px) {
    .entry-fields > div {
        flex: 1 1 calc(50% - 15px);
    }
}
@media (max-width: 300px) {
    .entry-fields > div {
        flex: 1 1 calc(100% - 15px);
    }
}
*/